@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 29, 25, 32;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 29, 25, 32;
    --background-end-rgb: 29, 25, 32;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    display: flex;
    justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #332a37;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #FF8C8C;
  border-radius: 10px;       /* Roundness of the scrollbar thumb */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #414141;          /* Color of the scrollbar thumb on hover */
}

h2 {
  @apply text-2xl
}